.profile {
  position: relative;
}

.profile img {
  width: 220px;
}

.profile-char {
  /* outline: 1px solid white; */
  top: 14px;
  left: 14px;
  position: absolute;
  width: 50px;
}

.profile-char img {
  width: 100%;
}

.rules-container img {
  width: 320px;
}

.rules {
  margin-top: 30px;
}

.howto {
  margin-top: 20px;
}
