.title {
  margin-left: 190px;
}

.title img {
  width: 300px;
}

.char {
  /* margin-top: 20px; */
  margin-left: 160px;
}

.char img {
  width: 360px;
  animation: float 1s ease-in-out infinite;
}

.outer-selected-items-container {
  display: flex;
  margin-top: 80px;
  /* outline: 1px solid yellow; */
  width: 590px;
}

.inner-selected-items-container {
  width: 550px;
}

.mana-algo-container {
  display: flex;
  justify-content: space-between;
  width: 500px;
}

.mana {
  position: relative;
  /* outline: 1px solid yellow; */
}

.mana img {
  width: 140px;
}

.mana p {
  top: 12px;
  left: 20px;
  position: absolute;
  font-size: 14px;
  letter-spacing: 1.5px;
}

.btn-group.dropup {
  display: flex;
  align-items: end;
}

.btn.btn-secondary.dropdown-toggle {
  background-image: url("../img/dropup.png");
  display: flex;
  justify-content: space-between;
  background-color: transparent;
  background-size: contain;
  background-repeat: no-repeat;
  border: none !important;
  width: 220px;
  height: 36px;
  padding-left: 16px;
  font-size: 12px;
  letter-spacing: 1.5px;
  text-align: start;
}

.btn.btn-secondary.dropdown-toggle img {
  width: 16px;
  margin-bottom: 3px;
}

.btn.btn-secondary.dropdown-toggle .show {
  background-color: aquamarine;
}

.selected-items {
  position: relative;
}

.selected-items img {
  width: 500px;
}

.dropup .dropdown-toggle::after {
  display: none !important;
}

.dropdown-menu.show {
  margin: 1000px;
  transform: translateX(76px) translateY(-30px) !important;
  background-color: transparent;
}

.dropdown-item {
  background-image: url("../img/algos.png");
  background-color: transparent;
  background-size: contain;
  background-repeat: no-repeat;
  border: none !important;
  width: 180px !important;
  font-size: 12px;
  color: #fff !important;
  letter-spacing: 1.5px;
  margin-bottom: 5px;
  padding: 0;
}

.dropdown-item:hover {
  background-color: transparent !important;
  cursor: pointer;
}

.go-btn {
  display: flex;
  align-items: end;
  cursor: pointer;
}

.go-btn img {
  width: 80px;
  transition: all 150ms;
}

.go-btn:hover img {
  width: 80px;
  opacity: 0.8;
  transition: all 150ms;
}

.items-box-container {
  /* outline: 2px solid yellow; */
  padding: 0;
  width: 452px;
  display: flex;
  justify-content: space-between;
  position: absolute;
  top: 20px;
  left: 26px;
}

.box-container {
  position: relative;
  background-image: url("../img/item-box.png");
  background-size: contain;
  width: 48px;
  height: 48px;
}

.box {
  position: absolute;
  background-size: contain;
  top: 2px;
  left: 2px;
  width: 45px;
  height: 45px;
  transition: all 250ms;
  /* outline: 2px solid yellow; */
  border-radius: 4px;
}

.box img {
  width: 100%;
}

.box:hover {
  cursor: pointer;
  background-color: rgba(0, 0, 0, 0.2);
  transition: all 150ms;
}
