@font-face {
  font-family: "minecraft";
  src: url("../font/Minecraft.ttf");
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "minecraft";
}

body {
  overflow: hidden;
  background-image: url("../img/background.webp");
  background-position-y: -200px;
  background-size: cover;
}

.container {
  display: flex;
  width: 100vw;
  outline: 2px solid red;
}

.left-container {
  /* background-color: antiquewhite; */
  width: 30%;
  height: 100vh;
  padding-top: 40px;
  padding-left: 40px;
}

.middle-container {
  /* background-color: aquamarine; */
  width: 50%;
  height: 100vh;
}

.right-container {
  /* background-color: coral; */
  width: 20%;
  height: 100vh;
}

.tes {
  /* background-color: antiquewhite; */
  display: flex;
  width: 100%;
  height: 100vh;
}

@keyframes float {
  0% {
    transform: translatey(0px) translatex(0px);
  }
  25% {
    transform: translatey(-4px) translatex(6px);
  }
  50% {
    transform: translatey(4px) translatex(12px);
  }

  75% {
    transform: translatey(-4px) translatex(6px);
  }

  100% {
    transform: translatey(0px) translatex(0px);
  }
}

@keyframes floatPlain {
  0% {
    transform: translatey(0px);
  }
  50% {
    transform: translatey(-10px);
  }
  100% {
    transform: translatey(0px);
  }
}

@keyframes upRepeat {
  0% {
    transform: translatey(0px);
    opacity: 1;
  }
  100% {
    transform: translatey(-20px);
    opacity: 0;
  }
}

/* width */
::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: transparent;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #ead4aa;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #ead4aab9;
}

.tooltip .tooltip-inner {
  background-color: #f7f7f7;
  color: #000;
  font-size: 14px;
  letter-spacing: 1.5px;
  text-align: start;
  line-height: 4px;
  padding-top: 20px;
  padding-left: 10px;
  padding-right: 10px;
}

.tooltip-title {
  margin-bottom: 30px;
  font-size: 16px;
}

/* [data-bs-placement="left"] > .tooltip-arrow::before {
  border-top-color: #f7f7f7 !important;
} */

.tooltip-arrow::before {
  border-top-color: #f7f7f7 !important;
}

.tooltip-arrow::before {
  border-left-color: #f7f7f7 !important;
}

.tooltip-arrow::before {
  border-right-color: #f7f7f7 !important;
}

.tooltip-arrow::before {
  border-bottom-color: #f7f7f7 !important;
}

/* Modal */
.modal-toggle {
  visibility: hidden;
}
